<div class="row">
    <div class="col-md-12">
    <h2>Departments</h2>
    <hr />
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
            <th>Department Number</th>
            <th>Department Name</th>
        </tr>
        </thead>
        {{#if departments}}
            {{#each departments}}
            <tr>
                <td><a href='employees?department={{departmentId}}'>{{departmentId}}</a></td>
                <td><a href='/department/{{departmentId}}'>{{departmentName}}</a></td>
                <td><a href='/departments/delete/{{departmentId}}' class="btn btn-success pull-right delete">Delete</a></td>
            </tr>
            {{/each}}
        {{else}}
        <tr><td><strong>{{message}}</strong></td></tr>
        {{/if}}
    </table>
    </div>
    <a href="/departments/add" class="btn btn-success pull-right">Add New Department</a>
    </div>
</div>