<div class="row">
<div class="col-md-12">
<h2>Register</h2>
<br />
<form method="post" action="/register">
    <fieldset>
        <div class="row">
            <div class="col-md-12">
                {{#if errorMessage}} <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div> {{/if}}
                {{#if successMessage}}<div class="alert alert-success"> <strong>Success:</strong> {{successMessage}}</div>
                <a class="btn btn-success pull-right" href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a><br/><br/><br/> 
               </div>
        </div>
    </fieldset>
                {{else}}
                <div class="form-group">
                    <input class="form-control" name="userName" type="text" placeholder="User Name" 
                    {{#if userName}}value={{userName}}{{/if}} required />
                    <br/>
                    <input class="form-control" name="password" type="password" placeholder="Password"
                    required/>
                    <br/>
                    <input class="form-control" name="password2" type="password" placeholder="Confirm Password"
                    required/>
                    <br/>
                    <input class="form-control" name="email" type="email" placeholder="Email Address"
                    {{#if email}}value={{email}}{{/if}} required/>
                </div>
            </div>
        </div>
    </fieldset>
    <hr />
    <input type="submit" class="btn btn-primary pull-right" value="Register" /><br /><br /><br />
    {{/if}}
</form>
</div>
</div>